@relation weather.symbolic

@attribute outlook2 {sunny,overcast,rainy}
@attribute temperature2 {hot,mild,cool}
@attribute humidity2 {high,normal}
@attribute windy2 {1,0}
@attribute play {yes,no}

@data
sunny,hot,high,0,no
sunny,hot,high,1,no
overcast,hot,high,0,yes
rainy,mild,high,0,yes
rainy,cool,normal,0,yes
rainy,cool,normal,1,no
overcast,cool,normal,1,yes
sunny,mild,high,0,no
sunny,cool,normal,0,yes
